<div class="container">
  <div class="d-flex justify-content-around">
    <div ngbNav #nav="ngbNav" class="nav-pills col-md-2" orientation="vertical">
      <ng-container ngbNavItem>
        <a ngbNavLink>Account settings</a>
        <ng-template ngbNavContent>
          <form [formGroup]="userForm">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">First name</span>
                </div>
                <input type="text" 
                  class="form-control" 
                  [formControl]="firstName"
                  [class.is-invalid]="firstName.invalid && firstName.touched">
              </div>
              <small class="form-text text-danger" 
                *ngIf="firstName.hasError('required') && firstName.touched">
                User first name is required
              </small>
              <small class="form-text text-danger" *ngIf="firstName.hasError('whitespace') && firstName.touched">
                First name must contain characters
              </small>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Last name</span>
                </div>
                <input type="text"
                  class="form-control" 
                  [formControl]="lastName" 
                  [class.is-invalid]="lastName.invalid && lastName.touched">
              </div>
              <small class="form-text text-danger" 
                *ngIf="lastName.hasError('required') && lastName.touched">
                User last name is required
              </small>
              <small class="form-text text-danger" *ngIf="lastName.hasError('whitespace') && lastName.touched">
                Last name must contain characters
              </small>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Email</span>
                </div>
                <input type="text"
                  class="form-control"  
                  value="{{email}}" disabled>
              </div>
            </div>
            <div class="form-check">
              <input type="checkbox" 
                class="form-check-input"
                [formControl]="notifications"
                id="emailCheckBox">
              <label for="emailCheckBox">Enable email notifications</label>
            </div>
          </form>
          <div>
            <button type="submit" (click)="saveChanges()" class="btn btn-primary">Save</button>
            <div *ngIf="savedChanges" class="alert alert-success mt-2">
              Changes saved
            </div>
            <div *ngIf="errors.length > 0" class="alert alert-danger mt-2">
              {{errors.toString()}}
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Calendar export</a>
        <ng-template ngbNavContent>

          <div class="form-row">

            <div class="form-group col">
              <label for="calendarStartDate">From</label>
              <div class="input-group">
  
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" [(ngModel)]="useStartDate">
                  </div>
                </div>
  
                <input class="form-control cursor-pointer" name="calendarStartDate" readonly [disabled]="!useStartDate" [class.text-white]="!useStartDate"
                  [(ngModel)]="startDate" ngbDatepicker #startdate="ngbDatepicker" (click)="startdate.toggle()" />

              </div>
            </div>

            <div class="form-group col">
              <label for="calendarEndDate">To</label>
              <div class="input-group">
  
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" [(ngModel)]="useEndDate">
                  </div>
                </div>
  
                <input class="form-control cursor-pointer" name="calendarEndDate" [disabled]="!useEndDate" [class.text-white]="!useEndDate"
                  [(ngModel)]="endDate" ngbDatepicker #enddate="ngbDatepicker" readonly (click)="enddate.toggle()"/>

              </div>
            </div>

          </div>

          <ng-select
            [items]="calendars"
            [multiple]="true"
            [closeOnSelect]="false"
            [searchable]="true"
            bindLabel="name"
            placeholder="Select calendar(s)"
            [(ngModel)]="selectedCalendars">
          </ng-select>
          <button class="btn btn-primary mt-2" [disabled]="selectedCalendars.length <= 0" (click)="exportCalendar()">Export</button>
        </ng-template>
      </ng-container>
    </div>
    <div [ngbNavOutlet]="nav" class="col-md-9 mr-4"></div>
  </div>
</div>