<div class="modal-header">
  <h4 class="modal-title">Add new calendar</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="addCalendarForm" (submit)="addCalendar()" id="addCalendarForm">
      <div class="form-group">
        <label for="newCalendarName">Calendar name</label>
        <input type="text" class="form-control" name="calendarName" 
        [class.is-invalid]="calendarName.invalid && calendarName.touched"
        [class.is-valid]="calendarName.valid && calendarName.touched"
        [formControl]="calendarName" placeholder="New calendar">            
      </div>
      <div class="form-group">
        <label for="newCalendarDesc">Description</label>
        <textarea class="form-control" name="calendarDesc"
        [class.is-invalid]="calendarDesc.invalid && calendarDesc.touched"
        [class.is-valid]="calendarDesc.valid && calendarDesc.touched"
        [formControl]="calendarDesc" placeholder="Your text" cols="20" rows="5"></textarea>
      </div>
  </form>
  <div *ngIf="addedNewCalendar" class="alert alert-success mb-0">
    Added new calendar!
  </div>
  <div *ngIf="errors.length > 0" class="alert alert-danger mb-0">
    {{errors.toString()}}
  </div>
</div>
<div class="modal-footer">
  <button type="submit" form="addCalendarForm" class="btn btn-primary" [disabled]="!addCalendarForm.valid" ngbAutofocus>Save</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
</div>