<div class="modal-header">
  <h4 class="modal-title">Edit calendar event</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="radio" value="false" (change)="changeCheck()" checked>
      Edit one event
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="radio" value="true" (change)="changeCheck()">
      Edit event series
    </label>
  </div>
  <div class="modal-footer">
    <button type="submit" form="addCalendarForm" (click)="editCalendarEvent()" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-secondary" ngbAutofocus (click)="activeModal.dismiss()">Cancel</button>
  </div>