<div class="row">
  <app-calendar-nav class="col-lg-3 col-md-4 col-sm-12"></app-calendar-nav>
  <main class="col-lg-9 col-md-8 col-sm-12">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Previous
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">
            Month
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Week
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Day
          </div>
        </div>
      </div>
    </div>
    <br>
    <div [ngSwitch]="view">
      <ng-template #customTitleTemplate let-event="event">
        <span class="font-weight-bold my-custom-class" (click)="eventClicked(event.id)">{{event.title}}</span>
        <button (click)="openEventModal(event)" class="btn xs" 
        *ngIf="event.metaType !== sharedEvent && event.metaType !== sharedRepeatableEvent">
          <fa-icon [icon]="faEdit" class="text-warning"></fa-icon>
        </button>
        <button (click)="openDeleteItemModal(event)" class="btn xs">
          <fa-icon [icon]="faTrash" class="text-danger"></fa-icon>
        </button>
      </ng-template>
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [activeDayIsOpen]="isActiveDayOpen" [refresh]="refresh" 
        (beforeViewRender)="beforeMonthViewRender($event);"
        (dayClicked)="dayClicked($event.day)" 
        [eventTitleTemplate]="customTitleTemplate"
        (eventTimesChanged)="eventTimesChanged($event)" ></mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        (beforeViewRender)="beforeWeekViewRender($event)" 
        [eventTitleTemplate]="customTitleTemplate"
        (eventTimesChanged)="eventTimesChanged($event)" >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        (beforeViewRender)="beforeDayViewRender($event)" 
        [eventTitleTemplate]="customTitleTemplate"
        (eventTimesChanged)="eventTimesChanged($event)" >
      </mwl-calendar-day-view>
    </div>
  </main>
</div>