<nav class="navbar-nav h-100 container">
    <div class="sticky-top pt-5">
        <div class="container d-flex align-items-center justify-content-between p-3">
            <h4 class="sidebar-heading">{{userName}}</h4>
            <button class="btn btn-link btn-sm">User settings</button>
        </div>
        <div class="dropdown dropright d-flex align-items-center justify-content-center align-self-center p-3">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownCalendarItems" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            + Create item
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownCalendarItems">
            <button class="btn btn-primary dropdown-item" type="button" (click)="openEventModal()">
              Create event
            </button>
          </div>
        </div>
        <div class="table-responsive p-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th class="d-flex align-items-center justify-content-between">
                        <span>Calendars</span><button (click)="openAddModal()" class="btn btn-primary btn-sm">Add</button>
                      </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let calendar of calendars" class="d-flex align-items-center justify-content-between"
                          ngbPopover="{{calendar.description}}" [openDelay]="100" [closeDelay]="200" triggers="mouseenter:mouseleave"
                          placement="right">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox{{calendar.id}}">
                              <label class="form-check-label" for="inlineCheckbox{{calendar.id}}">{{calendar.name}}</label>
                            </div>
                            <div class="btn-group">
                              <button (click)="openEditModal(calendar.id)" class="btn btn-warning btn-sm">Edit</button>
                              <button (click)="openDeleteModal(calendar.id)" class="btn btn-danger btn-sm">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</nav>
